@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --yellow: #fbffdc;
  --green: #004028;
  --light-green: #eaf5ed;
  --white: #ffffff;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--light-green);
  color: var(--green);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & aside {
    background-color: var(--light-green);
    border-radius: 8px;
    display: flex;
    padding: 24px;
    position: fixed;
    top: 24px;
    right: 24px;
    padding: 24px;
  }
  & h1 {
    text-align: center;
    margin: 0;
  }
  & p {
    text-align: center;
  }
  & em {
    opacity: 0.5;
    margin: 24px 0;
    font-size: 12px;
  }
  & input {
    border: none;
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    width: calc(100% - 16px);
  }
  & input:focus {
    outline: none !important;
    border: 1px solid var(--green);
  }
  & button {
    background-color: var(--yellow);
    color: var(--green);
    cursor: pointer;
    border: 1px solid var(--green);
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 8px 16px;
    margin-top: 8px;
    transition: border 0.1s ease;
    &:hover {
      border-left: 2px solid var(--green);
      border-bottom: 2px solid var(--green);
    }
  }
  & input:focus {
    outline: none !important;
    border: 1px solid var(--green);
  }
  /* & ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin-top: 24px;
    padding: 0;
    width: 100%;
  }
  & li {
    background-color: var(--yellow);
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    padding: 8px;
  } */
}
